.checkbox{
    position: relative;
    width: 2rem;
}

.checkbox label{
    position: absolute;
    top: 0;
    left: 0;
    width: 1.7em;
    height: 1.7rem;
    background-color: transparent;
    border:2px solid var(--blue);
    border-radius: 50%;
    cursor: pointer;
    transition: all .1s ease;
}

.checkbox label:hover{
    background-color: var(--gray-600);
    border-color:var(--blue-dark)
}

.checkbox label::after{
    content:'';
    position:absolute;
    top:38%;
    left:33%;
    width: 29%;
    height: 14%;
    opacity: 0;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    transition: opacity .1s ease;
}

.checkbox input{
    visibility:hidden;
}

.checkbox input:checked + label{
    border:0;
    background-color: var(--purple-dark);
}

.checkbox input:checked + label:hover{
    border:0;
    background-color: var(--purple);
}

.checkbox input:checked + label::after{
    opacity: 1;
}


.task{
    width: 100%;
    display: flex;
    align-items: start;
    gap: .8rem;
    background-color: var(--gray-500);
    border-radius: 8px;
    padding: 1rem;
}



.taskTitle{
    flex: 1;
    color: var(--gray-100);
}

.removeTask{
    cursor: pointer;
    padding: .1rem;
    border-radius: .4rem;
}

.removeTask:hover{
    color: var(--danger);
    background-color: var(--gray-400);
}

div:has(input[type=checkbox]:checked) + .taskTitle{
    text-decoration: line-through;
    color: var(--gray-300);
}